@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fae1e1;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(90deg, rgba(193, 209, 204, 1.000) 0.000%, rgba(223, 180, 175, 1.000) 16.667%, rgba(244, 160, 154, 1.000) 33.333%, rgba(249, 157, 149, 1.000) 50.000%, rgba(235, 171, 162, 1.000) 66.667%, rgba(208, 198, 188, 1.000) 83.333%, rgba(179, 225, 217, 1.000) 100.000%);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.recording-container {
  position: relative;
  display: inline-block;
  isolation: isolate;
}

.recording-video {
  width: 100%;
  display: block;
}

.start-button {
  position: absolute;
  bottom: -50px;
  right: -50px;
  z-index: 10;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.timer-button {
  position: absolute;
  top: -50px;
  left: -50px;
  z-index: 10;
}

.timer-active {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.getting-ready {
  width: 100%;
  display: block;
  opacity: 50%;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 1s ease-in forwards;
}